.backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s;
  }
  
  .backToTop.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .backToTop:hover {
    background: var(--color-accent);
  }
  